body {
	background: white;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding: 20px;
}

table {
	border-collapse: collapse;
}

td {
	background: #5FA070;
	border: 2px groove #B0D3BF;
	min-width: 2rem;
	height: 2.1rem;
	text-align: center;
	text-shadow: 1px 1px #666;
	font-size: 1.3rem;
}

.litero {
    background-color: white;
    border: 1px solid black;
}

.puzzleSquare {
	margin: 5px 5px 5px 0;
	height: 7vw;
	width: 7vw;
	text-transform: uppercase;
	background-color: white;
	font: 5vw sans-serif;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 1px 1px 1px 1px rgb(255 255 255 / 46%), inset -1px -1px 1px 1px rgb(0 0 0 / 26%);
	border: 1px solid rgba(0, 0, 0, 0.65);
}

@media only screen and (min-width: 600px) {
	.puzzleSquare {
		height: 3rem;
		width: 3rem;
		font: 2rem sans-serif;
	}
}

#input_container .puzzleSquare:hover {
	background-color: orange;
}

#input_container {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	color: white;
	opacity: 0.9;
}

.hand_letter_points {
	display: inline;
	font-size: 8pt;
}

.letters_left {
	display: inline-block;
	margin-left: 102px;
	width: 301px;
}

.player_name {
	display: inline-block;
	margin-left: 5px;
}

.tw, .tl {
	background: url("bildoj/3x.gif") no-repeat right bottom;
	background-blend-mode: overlay;
}
.tw {
	background-color: #FF3541;
}
.tl {
	background-color: #07AAFE;
}
.dw, .dl {
	background: url("bildoj/2x.gif") no-repeat right bottom;
	background-blend-mode: overlay;
}
.dw {
	background-color: #FBE075;
}
.dl {
	background-color: #C3E5FC;
}
.start {
	background: #FAE07F url("bildoj/stelo.gif") no-repeat center;
	background-blend-mode: overlay;
}

.color_instruction {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 2px;
}

.score_container {
	padding: 10px;
}

#board {
	font-weight: normal;
}

#your_letters {
	margin-top: 10px;
}

.input_here {
	background: #ff0000;
}

.player_set_tile {
	background: #ff9900;
}

.ki_set_tile {
	background: #d3f7db;
}

.set_tile {
    background: white;
	box-shadow: inset 1px 1px 1px 1px rgb(255 255 255 / 46%), inset -1px -1px 1px 1px rgb(0 0 0 / 26%);
}

.language_selector a {
	color: #2f2f2d;
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
}

img {
	margin-right: 5px;
}

.button {
	box-shadow: rgb(202, 239, 171) 0px 1px 0px 0px inset;
	border-radius: 3px;
	border: 1px solid rgb(38, 138, 22);
	cursor: pointer;
	font-weight: bold;
	padding: 6px;
	background: linear-gradient(rgb(92, 184, 17) 5%, rgb(119, 212, 42) 100%) rgb(92, 184, 17);
}

.button:disabled, .button[disabled] {
	cursor: auto;
}

.game {
	margin-right: 50px;
}

.manual {
	max-width: 550px;
}

h1, h2 {
	font-size: 100%;
}

.wrapper {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}
